<%= link_to "Add Image", new_user_image_path(@user)%>

<% @user.images.each do |image|%>
  <div class="image">
    <%= link_to(user_image_path(@user, image)) do %>
      <h2><%= (image.title) %></h2>
       <%= image_tag image.file.url(:medium)%>
     <% end %>
  </div>
<% end %>
